<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property file="${CONF_PATH}/logback.properties" />

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${APP_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log.${COMPRESSION}</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-45(%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${APP_NAME}-error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${APP_NAME}-error.%d{yyyy-MM-dd}.log.${COMPRESSION}</fileNamePattern>
			<maxHistory>${MAX_HISTORY}</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-45(%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg%n%ex</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="ERROR" />
	</root>

</configuration>